/* Calendar.css (or any desired CSS file for the Calendar component) */

.calendar {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Inria Sans', sans-serif;
  text-align: center;
  font-size: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  color: #5653aa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header .month-year {
  margin: 0 10px;
  font-family: 'Inria Sans', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}

.header .month-buttons {
  display: flex;
}

.header button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.days-of-week {
  display: flex;
  padding: 10px;
  font-weight: bold;
  background-color: transparent; /* Changed to transparent */
  color: #5653aa;
}

.days-of-week div {
  flex: 1;
  text-align: center;
  padding: 5px 0;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px; /* Added a small gap between date boxes */
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.date-box {
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #a8a8a8;
  font-size: 1.2em;
}

.current-month-day {
  color: #5653aa;
}
