@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #645cbb;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
  width: 100%; 
  height: 100vh;
  /*overflow-x: hidden;*/
  overflow-x: hidden;
  z-index:1;
}
header {
  background: #fff;
}
header .container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3 !important;
  
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.home {
  /*display: grid;
  margin: 0 auto;
  /*grid-template-columns: 3fr 1fr;
  gap: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);*/
  display: flex;
  justify-content: center;
  align-items: center;

}
/* .home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
} */
.user-name{
  margin-right: 20px;
}
.checkbox-label {
  display: inline-block;
  margin-right: 10px;
}

input[type="checkbox"]{
  display: inline-block;
  width :10px;

}

.home-details{
  display: flex;
  flex-direction: row;
}
.period-details {
  background: #645cbb;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.period-status{
  background: #645cbb;
  border-radius: 4px;
  margin: 20px 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  color: #e0e0e0;
  text-align: center;
  width: 710px;
}
.period-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #d4f5ec;
}
.period-details p {
  margin: 0;
  font-size: 0.9em;
  color: #e0e0e0;
  text-align: center;
}
.period-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
h1{
  color: var(--primary);
}

label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: #645cbb;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #ffff;
  color: var(--primary);
  border: 2px  solid #645cbb;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.react-calendar {
  width: 750px;
  max-width: 100%;
  background: rgb(255, 255, 247);
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 3em;
  margin: 20px 20px;
}

.react-calendar--doubleView {
  width: 3000px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 90%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1.5em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #b1acec;
}

.react-calendar__navigation__label__labelText {
  font-size: 1.4em;
  color: #645cbb;
  font-weight: bold;
  font-family: "Poppins";
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 1em;
  font-weight: bold;
  color: #645cbb;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 1em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day {
  color: #26234b;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 4em 2em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 1.5;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  border: 2px solid black !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

/*.react-calendar__tile--hasActive {
  background: #76baff;
}*/

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #49d0e2ab;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #17bed4b9;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.initial-date {
  background-color: #645cbb; 
  color:white;
}

.initial-date:hover{
  color:black
}

.next-day {
  color: white;
  background-color: #7066db;
}

.next-day:hover{
  color:black
}

.nn-day {
  color: white;
  background-color: #887fec;
}

.nn-day:hover{
  color:black
}

.nnn-day {
  color: white;
  background-color: #aba3f0;
}

.nnn-day:hover{
  color:black
}

.nnnn-day {
  color: white;
  background-color: #d6d2f5;
}

.nnnn-day:hover{
  color:black
}
.overflow-container {
  overflow-x: hidden !important; 
}

.circleBase {
  border-radius: 50%;
}
.circle1 {
  width: 60%;
  height: 80%;
  position: absolute;
  background: #645CBB;
  right: -49%; /* Push 60% of the element outside of the page to the left */
  top: 50%; /* Center vertically on the page */
  transform: translate(0, -50%); 
}
.circle2 {
  width: 65%;
  height: 85%;
  position: absolute;
  background: #a9a2ff;
  right: -47%; /* Push 60% of the element outside of the page to the left */
  top: 50%; /* Center vertically on the page */
  transform: translate(0, -50%); 
}
.circle3 {
  width: 70%;
  height: 90%;
  position: absolute;
  background: #d5d1ff;
  right: -45%; /* Push 60% of the element outside of the page to the left */
  top: 50%; /* Center vertically on the page */
  transform: translate(0, -50%); 
}
.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  z-index: 2 !important;
}

.sidenav span {
  padding: 15px 20px 15px 40px;
  text-decoration: none;
  font-size: 18px;
  color: #384D6C;
  display: block;
}

.item img{
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.logo {
  display: block;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50%;
  width: 123px;
  height: 123px;
  flex-shrink: 0;
}

.sidenav span:hover {
  color: #3b3b3b;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  text-align: center;
}

.dp{
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
  background-color: #ededed;
  width: 180px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.aboutus{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 40%;
  height:60%;
  border: 1px solid #645CBB;
}
.aboutus p{
  text-align: center;
}
.aboutus h1{
  text-align: center;
}
.downloadreport {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.Downloadbtn{
  align-items: center;
  left:95%;
  border-radius: 5%;
  background-color: white;
  width:50%;
  height:30px;
  border: 2px solid #645CBB;
}
.deletebtn1{
  align-items: center;
  left:95%;
  border-radius: 5%;
  background-color: white;
  width:45%;
  height:30px;
  border: 2px solid #645CBB;
}
.deletebtn2{
  align-items: center;
  left:100%;
  border-radius: 5%;
  background-color: white;
  width:45%;
  height:30px;
  border: 2px solid #645CBB;
}